
#page2-main{
    
    background-color: #0583f9bf;
    

    #back-home{
        height: 800px;

        button{
            border: 1px solid white;
            border-radius: 10px;

            background-color: transparent;

            color: white;

            padding: 10px 50px;
        }

    }
}